        /*FUENTES

font-family: 'Pacifico', cursive;
font-family: 'Asap', sans-serif;
font-family: 'Archivo Narrow', sans-serif;

*/
        /* Secciones principales*/
        
        body {
            background-color: black;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        
        main {
            flex: 1 0 auto;
            margin-top: 5%;
        }
        
        nav {
            height: 15vh;
            position: fixed;
        }
        
        #titulo {
            color: white;
            font-family: 'Pacifico', cursive;
            font-size: 4em;
            margin-top: .5%;
            text-align: center;
        }
        
        .menu {
            font-family: 'Asap', sans-serif;
            font-size: 1.3em;
            margin-top: 10%;
        }
        
        .footer-copyright {
            background-color: rgb(223, 105, 110);
            color: white;
            height: 10vh;
            font-family: 'Pacifico', cursive;
            text-align: center;
            padding-top: 1.5%;
        }
        /* Template*/
        
        .container {
            background-color: white;
            height: auto;
            margin-left: 3%;
            margin-top: 1%;
            margin-right: 0%;
            width: auto;
        }
        
        #response-container {
            height: 25vh;
            margin-top: 4vh;
            margin-left: 4vh;
            text-align: center;
            width: 25vw;
        }
        
        .title {
            color: white;
            font-family: 'Archivo Narrow', sans-serif;
            text-align: center;
        }
        
        section {
            padding-top: 3%;
        }
        /* Encabezados */
        
        h4,
        h6 {
            color: white;
            font-family: 'Asap', sans-serif;
            text-align: center;
        }
        
        .evento {
            width: 20%;
        }
        
        .eventos {
            width: 100%;
        }
        
        #tituloModal,
        #imagenModal {
            color: black;
            font-family: 'Asap', sans-serif;
            text-align: center;
        }
        
        ul,
        li {
            list-style: none;
        }